{
  :paths ["src" "test"]

  :deps {}

  :mvn/repos
  {"central" {:url "https://repo1.maven.org/maven2/"}
   "clojars" {:url "https://repo.clojars.org/"}}

  :aliases
  {
    :test  {:extra-paths ["test"]
            :extra-deps {io.github.cognitect-labs/test-runner
                         {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
            :main-opts ["-m" "cognitect.test-runner"]}

    :cli   {:main-opts ["-m" "juce.cli"]}

    :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                   slipset/deps-deploy {:mvn/version "0.2.1"}}
            :ns-default build}
  }
}

